html,
body {
    height: 100%;
}

body {
    color: #212226;
}



section {
    background: #fff;
    overflow: hidden;
}

/* ===========================
        Dropdown
============================ */

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
	left: 50%;
	right: 50%;
	transform: translate(-50%,0);
  background-color: #fff;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.dropdown-content a:hover {
	background-color: #6255a5;
	color: #fff;
}

.show {
	display: block;
}







/* ===========================
        Header
============================ */


header {
	height: 100px;
}
.navbar {
	height: 100px;
	padding-top: 25px;
	margin-bottom: 0px;
	background-color: #fff;
	box-shadow: 0px 0px 30px 0 rgba(0,0,0,0.8);
}

.navbar-header a {
	padding-top: 3px;
}

ul.navbar-nav > li > a {
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	color: #333333;
	
}

ul.navbar-nav > li > a > img {
	width: 45px;
	height: 45px;
}

ul.navbar-nav > li > a.photo{
	padding-top: 0px;
	
}


ul.navbar-nav > li >a:hover {
	border-bottom: 3px solid #6255a5;
	color: #6255a5;
}

ul.navbar-nav > li > a.login {
	background-color: #6255a5;
	color: #fff;
}





ul.navbar-nav > li >a:hover,
ul.navbar-nav > li >a:focus {
	color: #6255a5;
	background: none;
}





/* ===========================
        Form
============================ */

#user-details {
	margin-top: 60px;
	margin-bottom: 118px;
}

.form-control {
	width: 100%;
	height: 40px;
}

#user-details .btn {
	background-color: #6255a5;
	color: #fff;
	width: 150px;
	height: 30px;
	border-radius: 3px;
	font-family: "Open Sans";
	font-size: 18px;
	line-height: 22px;
	padding: 0;
	margin-top: 15px;
	text-transform: uppercase;
}

#user-details h4 {
	font-family: "Open Sans";
	color: #6255a5;
	font-weight: 500;
	font-size: 38px;
	margin-bottom: 25px;
	line-height: 38px;
}

#user-details p {
	font-family: "Open Sans";
	font-size: 17px;
	font-weight: 400;
	margin: 0;
}

#user-details form textarea {
	height: 150px;
}


/* ===========================
            Footer
============================ */

footer {
	width: 100%;
	
}

footer p {
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
}

