
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/UserLayout.cshtml";
}

<div id="login">
	<div class="bg-img">
		<img src="~/Content/img/pre-login/banner-with-overlay.jpg" alt="bg-image" />
		<div id="loginform">
			<div class="logo text-center">
				<img src="~/Content/img/pre-login/top-logo.png" alt="logo">
			</div>
			<form method="post">

				@Html.AntiForgeryToken()

				<div id="details">
					<h1 class="text-center">Login</h1>
					<p class="text-center">Enter your email address and password to login</p>
					


					<p>Email</p>
					<div class="form-group">
						<input type="text" class="form-control" id="email" placeholder="Your Email" name="EmailID">
					</div>
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-6 text-left">
							<p>Password</p>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6 text-right">
							<p><a href="@Url.Action("ForgetPassword","ForgetPassword")">Forgot Password?</a></p>
						</div>
					</div>

                    <div class="form-group">
                        <input type="password" class="form-control" id="pwd" placeholder="Enter your password" name="Password">
                        <p class="failure">@ViewBag.Message</p>
                    </div>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
						<label class="form-check-label" for="defaultCheck1">
							&nbsp; Remember me
						</label>
					</div>
					<div id="submit-btn">
						<button class="btn btn-general btn-yellow" title="Submit" type="submit" role="button">Login</button>
					</div>
					<p class="text-center">Don't have an account? <a href="@Url.Action("Index","Registration")">Sign Up</a></p>

				</div>


			</form>
		</div>
	</div>
</div>
